{% extends "base.html" %}

{% block content %}
  <h1>WeldDoc</h1>
  <ul>
    <li><a href="/admin/">Admin</a></li>
    <li><a href="/api/">API</a></li>
    <li><a href="/api/docs/">Swagger</a></li>
    <li><a href="/ui/wps/">WPS</a></li>
    <li><a href="/ui/wpq/">WPQ</a></li>
    <li><a href="/ui/documents/">Documentos</a></li>
    <li><a href="/ui/welds/">Soldaduras</a></li>
    <li><a href="/ui/welds/drawings/">Planos</a></li>
    <li><a href="/ui/welds/weld-maps/">Welding Maps</a></li>
  </ul>
{% endblock %}
